<!DOCTYPE html>
<html lang="{lang}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="{sub_url}styles/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{sub_url}favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{sub_url}favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{sub_url}favicon/favicon-16x16.png">
    <link rel="manifest" href="{sub_url}manifest.json">
</head>
<body>
    <header>{header_content}</header>
    <main class="container">
        {content}
    </main>
    <footer></footer>
    <script src="{sub_url}scripts/script.js"></script>
</body>
</html>
