<h2>Indic Amigo Akademia eBook Project</h2>
<p>This eBook is published under a <b><a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></b>. You may
    copy it, give it away or re-use it under the terms of this License included with this ebook or online.
</p>

<table>
    <tr>
        <th>
            <b>Title:</b>
        </th>
        <td>{title}</td>
    </tr>
    <tr>
        <th>
            <b>Author:</b>
        </th>
        <td>{author}</td>
    </tr>
    <tr>
        <th>
            <b>Publisher:</b>
        </th>
        <td>Indic Amigo Akademia</td>
    </tr>
    <tr>
        <th>
            <b>Language:</b>
        </th>
        <td>{language}</td>
    </tr>
    <tr>
        <th>
            <b>Released Date:</b>
        </th>
        <td>
            {release_date}(#{id})
        </td>
    </tr>
    <tr>
        <th>
            <b>Credits:</b>
        </th>
        <td>{credits}</td>
    </tr>
</table>